<p>Wagenliste für Zug {{loadedTrain.trainNumber}}:</p>

 <div *ngFor="let waggon of loadedTrain.waggons; let i = index">

   {{ waggon.waggonNumber }}

   <container-element [ngSwitch]="waggon.waggonType">
     <img *ngSwitchCase="'AVEX'" src="assets/ico/waggons/AVEX.png">
     <img *ngSwitchCase="'BVEX'" src="assets/ico/waggons/BVEX.png">
     <img *ngSwitchDefault src="assets/ico/waggons/BVEX.png">
   </container-element>

   <img *ngIf="i > 0" (click)="waggonUp(waggon.waggonNumber, loadedTrain.trainNumber)" src="assets/ico/arrow_up.png">
   <img *ngIf="i < loadedTrain.waggons.length - 1" (click)="waggonDown(waggon.waggonNumber, loadedTrain.trainNumber)" src="assets/ico/arrow_down.png">
   <img (click)="removeWaggon(waggon.waggonNumber, loadedTrain.trainNumber)" src="assets/ico/delete.png">
   <img (click)="waggonToEnd(waggon.waggonNumber, loadedTrain.trainNumber)" src="assets/ico/to_end.png">
   <img (click)="createWaggon(waggon.waggonNumber, loadedTrain.trainNumber)" src="assets/ico/new.png">
 </div>
