html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bordereditem {
  background: #eee;
  border: 4px solid white;
  box-shadow: 0 0 1px rgba(0,0,0, .4);
}

.actionIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

h1 {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
  cursor: default;
  font-size: 150px;
}

.app-header {
  background-color: darkgray;
  height: 75px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
.comp-header {
  background-color: white;
  height: 50px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
